# GEMINI_API_KEY: Required for Gemini AI API calls.
VITE_GEMINI_API_KEY="MY_GEMINI_API_KEY"

# VITE_SIMLI_API_KEY: Required for Simli API calls.
VITE_SIMLI_API_KEY="MY_SIMLI_API_KEY"

# VITE_SIMLI_FACE_ID: The ID of the Simli face to use.
VITE_SIMLI_FACE_ID="MY_SIMLI_FACE_ID"

VITE_MODEL_ID="models/gemini-2.5-flash-native-audio-latest"